<h1> Contact Info </h1>

<ul>
    <li>Phone Number: 901-345-3853</li>
    <li> Visit my <%= link_to 'LinkIn','https://www.linkedin.com', target: '_blank' %>


    <p>
    <%= link_to 'Home', home_path %>
    <p>