<h1> Web development portfolio</h1>

<p>Welcome to my portfolio! I am Bob Levery, a passionate web developer dedicated to crafting clean, user-friendly, and efficient websites. With a strong foundation in front-end 
and back-end technologies, I strive to create seamless digital experiences that leave a lasting impression.
</p>

<h2>Skills/Experise</h2>
<ul>
    <li>Front-end Development (HTML/CSS/JavaScript)</li>
    <li>Back-end Development (Node.js, Python, Ruby on Rails)</li>
    <li>Responsive Web Design</li>
</ul>

<p>
  <%= link_to 'About Me', about_path %>,  <%= link_to 'Work', work_path %>,  <%= link_to 'Contact Me', contact_path %>
</p>